<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/DEoEjZv.png">
        <style>
    div.absolute {
  position: absolute;
  top: 80px;
  right: 50px;
  background-color: #FFDEAD;
  width: 1200px;
  height: 2000px;
}
a:link, a:visited {
          background-color: #c76538;
          color: white;
          padding: 8px 10px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
</style>
</head>
<body style="background-color: #FFDEAD; font-family: Tahoma, sans-serif; color: #8B4513;">
    <div style="position: absolute; width: 1450px; height: 68px; background-color: #DEB887; top: 0px; right: 0px;">
    <div align="center">
	<br>
    <a href="https://passeimuitodireto.com" target="_self">Home</a>
	<a href="https://passeimuitodireto.com/privacypolicy" target="_self">Privacy Policy</a>
	<a href="https://passeimuitodireto.com/terms" target="_self">Terms</a>
	<a href="https://www.tiktok.com/@alietninja" target="_blank">Contact Us</a>
	</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="absolute">
        <h2><strong>API Documentation</strong></h2>

<p>This is the official passeimuitodireto.com API</p>

<p>read the Docs below, and if you get some issue contact @alietninja</p>

<br>
<br>

<h3><strong>HTTP Request Methods</strong></h3>

<p>GET - https://passeimuitodireto.com/api/:pergunta - returns a JSON file with the text content from passeidireto.com</p>

    </div>
</body>
</html>